In [19]:
def build_karate_club_graph():
    '''
    所有78条边都存储在两个numpy数组中, 一个用于源端点而另一个用于目标端点
    '''
    src = np.array([1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7, 8, 8, 9, 10, 10,
        10, 11, 12, 12, 13, 13, 13, 13, 16, 16, 17, 17, 19, 19, 21, 21,
        25, 25, 27, 27, 27, 28, 29, 29, 30, 30, 31, 31, 31, 31, 32, 32,
        32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33,
        33, 33, 33, 33, 33, 33, 33, 33, 33, 33])
    dst = np.array([0, 0, 1, 0, 1, 2, 0, 0, 0, 4, 5, 0, 1, 2, 3, 0, 2, 2, 0, 4,
        5, 0, 0, 3, 0, 1, 2, 3, 5, 6, 0, 1, 0, 1, 0, 1, 23, 24, 2, 23,
        24, 2, 23, 26, 1, 8, 0, 24, 25, 28, 2, 8, 14, 15, 18, 20, 22, 23,
        29, 30, 31, 8, 9, 13, 14, 15, 18, 19, 20, 22, 23, 26, 27, 28, 29, 30,
        31, 32])
    #边缘在DGL中是有方向的； 使它们双向
    u = np.concatenate([src, dst])
    v = np.concatenate([dst, src])
    #构建图
    return dgl.DGLGraph((u, v))

In [18]:
import dgl
G = build_karate_club_graph()
print('We have %d nodes.' % G.number_of_nodes())
print('We have %d edges.' % G.number_of_edges())

Using backend: pytorch

We have 34 nodes.
We have 156 edges.

C:\Users\zqy\anaconda3\lib\site-packages\dgl\base.py:45: DGLWarning: Recommend creating graphs by `dgl.graph(data)` instead of `dgl.DGLGraph(data)`.
  return warnings.warn(message, category=category, stacklevel=1)

In [11]:
pip install dgl

Collecting dgl
  Downloading dgl-0.6.1-cp38-cp38-win_amd64.whl (3.1 MB)
Requirement already satisfied: requests>=2.19.0 in c:\users\zqy\anaconda3\lib\site-packages (from dgl) (2.25.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\zqy\anaconda3\lib\site-packages (from dgl) (1.20.1)
Requirement already satisfied: networkx>=2.1 in c:\users\zqy\anaconda3\lib\site-packages (from dgl) (2.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\zqy\anaconda3\lib\site-packages (from dgl) (1.6.2)
Requirement already satisfied: decorator>=4.3.0 in c:\users\zqy\anaconda3\lib\site-packages (from networkx>=2.1->dgl) (5.0.6)
Requirement already satisfied: idna<3,>=2.5 in c:\users\zqy\anaconda3\lib\site-packages (from requests>=2.19.0->dgl) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\zqy\anaconda3\lib\site-packages (from requests>=2.19.0->dgl) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zqy\anaconda3\lib\site-packages (from requests>=2.19.0->dgl) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\zqy\anaconda3\lib\site-packages (from requests>=2.19.0->dgl) (4.0.0)
Installing collected packages: dgl
Successfully installed dgl-0.6.1
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install torch

'''
在Anaconda Prompt中输入命令行
(base) C:\Users\zqy>conda install pytorch torchvision -c pytorch
'''

^C
Note: you may need to restart the kernel to use updated packages.

In [21]:
from networkx import to_numpy_matrix
#zkc = karate_club_graph()
zkc = G
order = sorted(list(zkc.nodes()))
A = to_numpy_matrix(zkc, nodelist=order)
I = np.eye(zkc.number_of_nodes())
A_hat = A + I
D_hat = np.array(np.sum(A_hat, axis=0))[0]
D_hat = np.matrix(np.diag(D_hat))

AttributeError: 'DGLHeteroGraph' object has no attribute 'is_directed'

In [2]:
import camelot

ModuleNotFoundError: No module named 'camelot'

In [3]:
import re
import camelot
import pandas as pd
table1 = camelot.read_pdf(r'C:\Users\zqy\Documents\火模\示例模型\示例数据\李四交易记录.pdf',pages = '1-end',flavor='stream')    # 得到一个camelot.core.Table对象
df = pd.DataFrame()
for k in range(len(table1)):
    print(k,end = ' ')
    df = df.append(table1[k].df)    # table对象的df属性，得到一个pandas.core.frame.DataFrame对象
    print(df.shape ,end = ' ')
    
cols = df.iloc[0].tolist()
df.columns = cols
df = df.iloc[1:]

0 (74, 6) 1 (148, 6) 2 (222, 6) 3 (296, 6) 4 (370, 6) 5 (444, 6) 6 (518, 6) 7 (592, 6) 8 (666, 6) 9 (740, 6) 10 (814, 6) 11 (888, 6) 12 (962, 6) 13 (1036, 6) 14 (1110, 6) 15 (1184, 6) 16 (1258, 6) 17 (1332, 6) 18 (1406, 6) 19 (1480, 6) 20 (1554, 6) 21 (1628, 6) 22 (1702, 6) 23 (1776, 6) 24 (1850, 6) 25 (1924, 6) 26 (1998, 6) 27 (2072, 6) 28 (2146, 6) 29 (2220, 6) 30 (2294, 6) 31 (2368, 6) 32 (2442, 6) 33 (2516, 6) 34 (2590, 6) 35 (2664, 6) 36 (2738, 6) 37 (2812, 6) 38 (2886, 6) 39 (2960, 6) 40 (3034, 6) 41 (3108, 6) 42 (3182, 6) 43 (3256, 6) 44 (3330, 6) 45 (3404, 6) 46 (3478, 6) 47 (3552, 6) 48 (3626, 6) 49 (3700, 6) 50 (3774, 6) 51 (3848, 6) 52 (3922, 6) 53 (3996, 6) 54 (4070, 6) 55 (4144, 6) 56 (4218, 6) 57 (4292, 6) 58 (4366, 6) 59 (4440, 6) 60 (4514, 6) 61 (4588, 6) 62 (4662, 6) 63 (4736, 6) 64 (4810, 6) 65 (4884, 6) 66 (4958, 6) 67 (5032, 6) 68 (5106, 6) 69 (5180, 6) 70 (5254, 6) 71 (5328, 6) 72 (5402, 6) 73 (5476, 6) 74 (5550, 6) 75 (5624, 6) 76 (5698, 6) 77 (5772, 6) 78 (5846, 6) 79 (5920, 6) 80 (5994, 6) 81 (6068, 6) 82 (6142, 6) 83 (6216, 6) 84 (6290, 6) 85 (6364, 6) 86 (6438, 6) 87 (6512, 6) 88 (6586, 6) 89 (6660, 6) 90 (6734, 6) 91 (6808, 6) 92 (6882, 6) 93 (6956, 6) 94 (7030, 6) 95 (7104, 6) 96 (7178, 6) 97 (7252, 6) 98 (7326, 6) 99 (7400, 6) 100 (7474, 6) 101 (7548, 6) 102 (7622, 6) 103 (7696, 6) 104 (7770, 6) 105 (7844, 6) 106 (7918, 6) 107 (7992, 6) 108 (8066, 6) 109 (8140, 6) 110 (8167, 6)

In [4]:
df

,户名\n账号,交易时间,借贷标志（借F：1，贷F：2）,金额（元）,对方账号,对方户名
1,李四 ******1601106058292,2008-03-05 15:21:55,2,0.00,*,*
2,李四 ******1601106058292,2008-07-30 13:06:28,2,100.00,******65*11*93*85,张三
3,李四 ******1601106058292,2008-07-30 13:07:08,1,1.00,******75*11*42277,W瑶璇
4,李四 ******1601106058292,2008-07-31 01:23:42,1,3.00,*,*
5,李四 ******1601106058292,2008-07-31 13:53:30,2,10.00,******37*92***99778,海城市东升区XY电子贸易商行
...,...,...,...,...,...,...
22,李四 ******1601106058292,2008-09-19 19:23:19,1,100000.00,******16*11*41*39,W贞波
23,李四 ******1601106058292,2008-09-19 19:58:09,1,500000.00,******33*1111*346,Z志亨
24,李四 ******1601106058292,2008-09-19 20:00:41,1,8985.00,******12*11*34982,C少吟
25,李四 ******1601106058292,2008-09-19 20:04:04,1,165394.00,******21*11*76533,T数理
26,李四 ******1601106058292,2008-09-19 20:05:15,1,577800.00,******75*11*42277,W瑶璇

In [13]:
import os
file_list = []
output_path = 'C:\\Users\\zqy\\Desktop\\'
os.chdir(r"C:\Users\zqy\Documents\火模\示例模型\示例数据")
for path_name, dir, files_name in os.walk(os.getcwd()):
    for file in files_name:
        if '.pdf' in file:
            file_list.append(os.path.join(path_name, file))
print(len(file_list))
print('\n'.join(file_list))

import pandas as pd
def pdf_append_excel(table):
    df = pd.DataFrame()
    for k in range(len(table)):
        print(k,end = ' ')
        df = df.append(table[k].df)    # table对象的df属性，得到一个pandas.core.frame.DataFrame对象
        print(df.shape ,end = ' ')
    return df

import re
import camelot
for i in range(len(file_list)):
    table1 = camelot.read_pdf(file_list[i],pages = '1-end',flavor='stream')    # 得到一个camelot.core.Table对象
    df = pdf_append_excel(table1)
    df['ColumnA'] = df[df.columns[0:]].apply(lambda x: ' '.join(x.dropna()),axis=1)    #删掉空 把每行所有元素连接成常字符串，用空格做列分割符
    df = df.applymap(lambda x: re.sub('\n', ' ',str(x)))

    
    df['ColumnA'].iloc[0] = re.sub('\s+',' ',df['ColumnA'].iloc[0])
    df = df['ColumnA'].str.split(' ',expand = True)

    cols = df.iloc[0].to_list()
    df.columns = cols
    df = df.iloc[1:]

1
C:\Users\zqy\Documents\火模\示例模型\示例数据\李四交易记录.pdf
0 (71, 6) 1 (141, 6) 2 (211, 6) 3 (281, 6) 4 (351, 6) 5 (421, 6) 6 (491, 6) 7 (561, 6) 8 (631, 6) 9 (701, 6) 10 (771, 6) 11 (841, 6) 12 (911, 6) 13 (981, 6) 14 (1051, 6) 15 (1121, 6) 16 (1191, 6) 17 (1261, 6) 18 (1331, 6) 19 (1401, 6) 20 (1471, 6) 21 (1541, 6) 22 (1611, 6) 23 (1681, 6) 24 (1751, 6) 25 (1821, 6) 26 (1891, 6) 27 (1961, 6) 28 (2031, 6) 29 (2101, 6) 30 (2171, 6) 31 (2241, 6) 32 (2311, 6) 33 (2381, 6) 34 (2451, 6) 35 (2521, 6) 36 (2591, 6) 37 (2661, 6) 38 (2731, 6) 39 (2801, 6) 40 (2871, 6) 41 (2941, 6) 42 (3011, 6) 43 (3081, 6) 44 (3151, 6) 45 (3221, 6) 46 (3291, 6) 47 (3361, 6) 48 (3431, 6) 49 (3501, 6) 50 (3571, 6) 51 (3641, 6) 52 (3711, 6) 53 (3781, 6) 54 (3851, 6) 55 (3921, 6) 56 (3991, 6) 57 (4061, 6) 58 (4131, 6) 59 (4201, 6) 60 (4271, 6) 61 (4341, 6) 62 (4411, 6) 63 (4481, 6) 64 (4551, 6) 65 (4621, 6) 66 (4691, 6) 67 (4761, 6) 68 (4831, 6) 69 (4901, 6) 70 (4971, 6) 71 (5041, 6) 72 (5111, 6) 73 (5181, 6) 74 (5251, 6) 75 (5321, 6) 76 (5391, 6) 77 (5461, 6) 78 (5531, 6) 79 (5601, 6) 80 (5671, 6) 81 (5741, 6) 82 (5811, 6) 83 (5881, 6) 84 (5951, 6) 85 (6021, 6) 86 (6091, 6) 87 (6161, 6) 88 (6231, 6) 89 (6301, 6) 90 (6371, 6) 91 (6441, 6) 92 (6511, 6) 93 (6581, 6) 94 (6651, 6) 95 (6721, 6) 96 (6791, 6) 97 (6861, 6) 98 (6931, 6) 99 (7001, 6) 100 (7071, 6) 101 (7141, 6) 102 (7211, 6) 103 (7281, 6) 104 (7351, 6) 105 (7421, 6) 106 (7491, 6) 107 (7561, 6) 108 (7631, 6) 109 (7701, 6) 110 (7771, 6) 111 (7841, 6) 112 (7911, 6) 113 (7981, 6) 114 (8051, 6) 115 (8087, 6)

In [14]:
df

,,借贷标志,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,户名,账号,交易时间,,金额（元）,对方账号,对方户名,None,None,None
2,,,（借F：1，贷F：2）,,,,None,None,None,None
3,李四,******1601106058292,2008-03-05,15:21:55,2,0.00,*,*,None,None
4,李四,******1601106058292,2008-07-30,13:06:28,2,100.00,******65*11*93*85,张三,None,None
5,李四,******1601106058292,2008-07-30,13:07:08,1,1.00,******75*11*42277,W瑶璇,None,None
...,...,...,...,...,...,...,...,...,...,...
31,李四,******1601106058292,2008-09-19,19:23:19,1,100000.00,******16*11*41*39,W贞波,None,None
32,李四,******1601106058292,2008-09-19,19:58:09,1,500000.00,******33*1111*346,Z志亨,None,None
33,李四,******1601106058292,2008-09-19,20:00:41,1,8985.00,******12*11*34982,C少吟,None,None
34,李四,******1601106058292,2008-09-19,20:04:04,1,165394.00,******21*11*76533,T数理,None,None
35,李四,******1601106058292,2008-09-19,20:05:15,1,577800.00,******75*11*42277,W瑶璇,None,None

In [ ]:
if not os.path.isfile(output_path + str(df['客户名称'].iloc[0])+".xlsx"):
    df.to_excel(output_path +  str(df['客户名称'].iloc[0])+".xlsx", sheet_name= str(df['账号'].iloc[0]),index = False)    
else:
    with pd.ExcelWriter(output_path +  str(df['客户名称'].iloc[0])+".xlsx" ,mode='a', engine='openpyxl') as writer:
            df.to_excel(writer, sheet_name= str(df['账号'].iloc[0]),index = False)
    print(str(df['客户名称'].iloc[0])+'Done!')